@model flights
@{
    //ViewData["Title"] = "Product list";
    //Layout = null;
}
@section Logout {
    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
}
<!DOCTYPE html>
<html>
<head>
    <title>Electronics Store</title>
</head>
<body>
    <h3>Flights</h3>
    <div>
        <label>Number of route:</label>
        <label>@Model.RouteId</label>
    </div>
    <div>
        <h3>Stations:</h3><br />

        @if (Model.flights_has_stations != null)
        {
            @foreach (var item in Model.flights_has_stations.OrderBy(e => e.NumberofStation).Select(e => e.stations).ToList())
            {
                <label>@item.Name    </label> 
                <a class="btn btn-outline-danger" asp-action="DeleteStation" asp-route-stationID="@item.IdStations" asp-route-flightID="@Model.idFlights">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                    </a> <br />
            }
        }


        ______________________________________________________________________________________________________________________________________

        <h3>Can add</h3><br />
        @foreach (var item in ViewBag.FreeStations)
        {
            @item.Name <a asp-action="AddStation" asp-route-stationID="@item.IdStations" asp-route-flightID="@Model.idFlights">Add</a><br />
        }
    </div>
    <div>
        <a asp-controller="Admin" asp-action="EditFlight" asp-route-flightID="@Model.idFlights">Back</a>
    </div>
</body>
</html>
