@model flights
@{
    //ViewData["Title"] = "Product list";
    //Layout = null;
}
@section Logout {
    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
}
<!DOCTYPE html>
<html>
<head>
    <title>Electronics Store</title>
</head>
<body>
    <h3>Flights</h3>
    <div>
        <label>Number of route:</label>
        <label>@Model.RouteId</label>
    </div>
    <div class="alert-info rounded-lg">
        <h3>Stations:</h3><br />
        <ul class="">
            @if (Model.flights_has_stations != null)
            {
                @foreach (var item in Model.flights_has_stations.OrderBy(e => e.NumberofStation).Select(e => e.stations).ToList())
                {
                    <li>@item.Name</li>
                }
            }
        </ul>
        @if (Model.flights_has_stations == null)
        {
            <label>This flight hasn't stations</label>
        }
        <a asp-action="EditRoute" asp-route-flightID="@Model.idFlights">Change stations</a>

    </div>
    <div>
        <h3>Times:</h3><br />
        @if (Model.traveltimes != null)
        {
            @foreach (var item in Model.traveltimes.ToList())
            {
                <div class="list-group-item-dark">
                    <label>@item.ArrivalTime  -  @item.DepartureTime</label>
                    <a class="btn btn-outline-dark" asp-action="EditTravelTime" asp-route-timeID="@item.idTravelTime" asp-route-flightID="@Model.idFlights">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                    </a>
                    <a class="btn btn-outline-danger" asp-action="DeleteTravelTime" asp-route-timeID="@item.idTravelTime" asp-route-flightID="@Model.idFlights">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </a><br />
                </div>
            }
        }
        @if (Model.traveltimes == null)
        {
            <label>This flight hasn't times</label>
        }
        <a asp-action="AddTravelTime" asp-route-flightID="@Model.idFlights">Add new</a>

    </div>
    <div>
        <h3>Flight crew:</h3><br />
        @if (Model.flightcrews != null)
        {
            <label>Pilot: </label>
            @if (Model.flightcrews.pilots != null)
            {
                <label>           @Model.flightcrews.pilots.Name </label> <label>@Model.flightcrews.pilots.Surname </label><br />
            }

            <label>Navigator: </label>
            @if (Model.flightcrews.navigators != null)
            {
                <label>       @Model.flightcrews.navigators.Name </label> <label>@Model.flightcrews.navigators.Surname </label><br />
            }

            <label>Radiooperator: </label>
            @if (Model.flightcrews.radiooperators != null)
            {
                <label>   @Model.flightcrews.radiooperators.Name </label> <label>@Model.flightcrews.radiooperators.Surname </label><br />
            }

            <label>Flight Attendant: </label>
            @if (Model.flightcrews.flightattendants != null)
            {
                <label>@Model.flightcrews.flightattendants.Name </label> <label>@Model.flightcrews.flightattendants.Surname </label><br />
            }
        }
        else
        {
            <label>This flight hasn't crew</label>
        }
    </div>
    <div>
        <a asp-action="CrewChanging" asp-route-flightID="@Model.idFlights">Change crew</a>
    </div>
    <div>
        @if (Model.flightcrews != null)
        {
            <a asp-action="CrewDeleting" asp-route-flightID="@Model.idFlights">Delete crew</a>
        }
    </div>
    <div>
        <a asp-controller="Admin" asp-action="Index" asp-route-flightID="@ViewBag.FlightID">Back</a>
    </div>
</body>
</html>
